/*=========== TEMP STYLES ===========*/
$headingFont: "Oswald-Bold";

.theme-wky-piranha-supplies {
  .woocommerce {
    .summary {
      table.variations {
        td.label {
          display: block;
        }
        td.value {
          display: block;
        }
      }
    }

  }
}
