/*=========== TEMP STYLES ===========*/
$black: #000000;
$white: #ffffff;
$gray: #dedede;
$headingFont: "Oswald-Bold";

@mixin box-shadow($value) {
  -webkit-box-shadow: $value;
  -moz-box-shadow: $value;
  box-shadow: $value;
}
@mixin transition($value) {
  -webkit-transition: $value;
  transition: $value;
}
.theme-wky-piranha-supplies {
  &.woocommerce {
    .summary {
      table.variations {
        td.label {
          display: block;
          background: none;
          text-transform: uppercase;
          padding: 0;
          margin-bottom: 10px;

          label {
            font-family: $headingFont;
          }
        }
        td.value {
          display: flex;
          flex-wrap: wrap;
          align-items: center;

          .variable-items-wrapper {
            .variable-item:not(.radio-variable-item).button-variable-item {
              @include box-shadow(none !important);
              @include transition(all ease .2s);
              background: $gray;
              padding: 20px 10px;

              &.selected {
                background: $black;
                color: $white;
              }
            }
            [data-wvstooltip]:after, [data-wvstooltip]:before {
              display: none;
            }
          }
          a.reset_variations {
            margin-left: 8px;
          }
        }
      }
      .single_variation_wrap {
        margin-top: 40px;
      }
    }
  }
}
